@import "../../../mixins.scss";

.contact-me {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .robo{
        height: 30rem;
        width: 30rem;
    }

    .coffee-message{
        font-size: 5rem;
    }
    .contact_me-message{
        font-size: 3rem;
    }
    .connection-signature{
        height: 90%;
        gap: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .signature{
        font-family: "Sacramento";
        font-size: 5rem;
    }
    .connection{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .footer{
        bottom: 0;
        img{
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: middle
        }
    }
}