@import "../../../mixins.scss";

.contact-me {
    height: 100vh;

    .internal-content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 90%;
        .robo{
            height: 50rem;
            width: 50rem;
        }
    
        .coffee-message{
            font-size: 5rem;
        }
        .contact_me-message{
            font-size: 3rem;
        }
        .connection-signature{
            height: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .signature{
            font-family: "Sacramento";
            font-size: 5rem;
        }
        .connection{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
   
    .footer{
        bottom: 0;
        img{
            width: 100%;
            height: 100%;
            display: inline-block;
            vertical-align: middle
        }
    }
}