@import "../../../mixins.scss";

.about-me-container {
    height: 100vh;
    font-size: 4vmin;

    .heading {
        padding-top: 2rem;
        text-align: center;
    }

    .about-me {
        height: 90%;
        width: fit-content;
        // block-size: f;
        display: flex;
        gap: 5rem;
        flex-direction: column;
        justify-content: space-evenly;

        .description {
            font-size: 4vmin;
            display: flex;
            text-align: center;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            gap: 5rem;

            .robot {
                width: 35%;
                height: 35%;
            }

        }

        .companies-experiences {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 10px;

            .companies {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10rem;

                img {
                    max-width: 20rem;
                    max-height: 15rem;
                }
            }
        }

    }
}