@keyframes word-fade-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animated-word {
    display: inline-block;
    opacity: 0;
    animation: word-fade-up 1s ease forwards;
}
