@import "../../mixins.scss";

.hero {
    height: calc(100vh - 10rem); //Since section height is 100vh and nav bar is 


    // @include tablet{
    //     height: calc(100vh - 100px);
    // }

    // @include tablet{
    //     height: calc(100vh - 100px);
    // } 

    // @include laptop{
    //     height: calc(100vh - 100px);
    // }

    // @include desktop{
    //     height: calc(100vh - 100px);
    // }


    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include laptop {
        flex-direction: row;
    }

    .text-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // flex-grow: 2;

        .name_heading {
            font-size: 4rem;
            color: rebeccapurple;
            letter-spacing: 10px;
        }

        .description_heading {
            font-size: 4rem;
        }

        .buttons {
            button {
                font-size: 3rem;
                padding: 2rem;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                margin-right: 20px;
                cursor: pointer;
                font-weight: 300;
            }
        }

        img {
            height: 15%;
            width: 15%;
            max-width: 50px;
            max-height: 50px;
        }
    }


    .imageContainer {
        display: flex;
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include mobile {
            height: 35%;
            justify-content: end;
        }
     
    }
}