@import "../../mixins.scss";

.hero {
    height: calc(100vh - 100px); //Since section height is 100vh and nav bar is 100px

    @include tablet{
        height: calc(100vh - 80rem);
    }

    @include landscape-tablet{
        height: calc(100vh - 130rem);
    } 

    @include laptop{
        height: calc(100vh - 100px);
    }

   
    overflow: hidden;
    position: relative;
    display: flex;

    .text-container {
        height: 100%;
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10rem;

        @include mobile {
            gap: 5rem;
            height: 60%;
            width: 100%;
            align-items: center; //Make the text center to mobile.
            text-align: center;
        }

        .name_heading {
            font-size: 4rem;
            color: rebeccapurple;
            letter-spacing: 10px;
        }

        .description_heading {
            font-size: 5rem;
        }

        .buttons {
            button {
                padding: 20px;
                border: 1px solid white;
                border-radius: 10px;
                background-color: transparent;
                color: white;
                margin-right: 20px;
                cursor: pointer;
                font-weight: 300;
            }
        }

        img {
            height: 15%;
            width: 15%;
            max-width: 50px;
            max-height: 50px;
        }
    }

    .slidingTextContainer {
        position: absolute;
        font-size: 50vh;
        bottom: -120px;
        white-space: nowrap;
        color: #ffffff09;
        width: 50%;
        font-weight: bold;
    }

    .imageContainer {
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        @include mobile {
            height: 40%;
            width: 100%;
            top: unset;
            bottom: 0;
        }
    }
}