@import "../../mixins.scss";

.social {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
   
    a {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.5px;
    }
    .icon-text{
        @include mobile {
            display: none;
        }
    }
}
