@import "../../mixins.scss";

.navbar {
    height: 10rem;

    .nav-bar-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }

    span {
        font-weight: bold;
    }
}