@import "./mixins.scss";

* {
    padding: 0; //By default some padding margin is present so remove them
    margin: 0;
    box-sizing: border-box; // Whatever height and width we are giving, it is including with border width
    font-family: sans-serif; //DM sans is font family of google fonts which is CDN
}

html {
    margin: 0 5%;
}

@include mobile {
    html {
        font-size: 4px;
    }
}

@include tablet {
    html {
        font-size: 5px;
    }
}

@include laptop {
    html {
        font-size: 6px;
    }
}
@include desktop {
    html {
        font-size: 62.5%;
    }
}

@include large-desktop{
    html {
        font-size: 100%;
    }
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    background: linear-gradient(360deg, #0c0c1d, #111132);
    color: lightgray;
}

section:not(:last-child) {
    /* Your styling for all sections except the last one */
    margin-bottom: 10rem;
}

.course {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .box{
        width: 200px;
        height: 200px;
        background-color: white;
    }
}