@import "./mixins.scss";

* {
    padding: 0; //By default some padding margin is present so remove them
    margin: 0;
    box-sizing: border-box; // Whatever height and width we are giving, it is including with border width
    font-family: "DM Sans", sans-serif; //DM sans is font family of google fonts which is CDN
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    background: linear-gradient(180deg, #0c0c1d, #111132);
    color: lightgray;
}
section {
    height: 100vh;
}


.course {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .box{
        width: 200px;
        height: 200px;
        background-color: white;
    }
}